<section class="d-flex flex-column gap-2">
  <%= render 'partials/user_card', user: @user%>
  <ul class="list-unstyled p-0 d-flex flex-column gap-4">
    <% @posts.each do |post| %>
      <li class="d-flex flex-column gap-2">
      <%= link_to user_post_path(@user, post), class: "text-decoration-none text-dark" do %>
        <%= render 'partials/post_card', post: post %>
      <% end %>
      <%= render 'partials/comments_card', comments: post.recent_comments %>
      </li>
    <% end %>  
  </ul>
  <div class="d-flex align-items-center justify-content-center gap-3">
    <button class="btn d-inline border border-2 border-dark" style="width: fit-content">Pagination</button>
    <%= link_to 'new post', new_user_post_path(@user), class: "btn btn-primary"%>
  </div>
</section>