<section class="d-flex flex-column gap-2">
  <div class="border border-2 p-2">
    <div class="d-flex justify-content-between align-items-center">
      <h3><%= @post.title%></h3>
      <p class="my-auto">
        <span><strong>Comments:</strong> <%= @post.comments_counter%></span>,
        <span><strong>Likes:</strong> <%= @post.likes_counter%></span>
      </p>
    </div>
    <div>
      <p><%= @post.text %></p>
    </div>
    <div>
      <p><span>Author: </span><%= @user.name %></p>
    </div>
  </div>
  <%if @post.all_comments.empty?%>
    <div class="border border-2 p-2">
      No comments yet
    </div>
    <% else %>
      <ul class="list-unstyled p-2 border border-2">
        <% @post.all_comments.each do |c| %>
          <li class="d-flex justify-content-between">
            <p><strong><%= c.user.name %>:</strong> <%= c.text %></p>
            <% if can? :destroy, c%>
              <%= button_to 'Delete Comment', user_post_comment_path(@user, @post, c), method: :delete, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' %>
            <%end%>
          </li>
        <% end %>
      </ul>
  <%end%>
  <div class"d-flex gap-3">
    <div class="d-inline-block">
      <%= link_to 'add a comment',  new_user_post_comment_path(@user, @post), class: "btn btn-primary", style: "width: fit-content"%>
    </div>
    <div class="d-inline-block">
      <%= button_to 'Like', user_post_likes_path(@user, @post), method: :post, class: 'btn btn-primary' %>
    </div>
    <div class="d-inline-block">
      <%if can? :destroy, @post%>
        <%= button_to 'Delete Post', user_post_path(@user, @post), method: :delete, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' %>
      <%end%>
    </div>
  </div>
</section>